<!DOCTYPE html>
<html lang="en">
<div th:include="components/header"></div>
<body role="document" style="min-height:100%;">
<div th:include="components/nav"></div>

<main role="main">

	<div class="row doc-main">
    	<div class="container" style="width:95%;">
        <table>
        			<tbody>
              <tr>
        				<th rowspan="1" colspan="1">Location</th>
        				<th rowspan="1" colspan="1">Date</th>
        			</tr>
              <tr>
                <td rowspan="1" colspan="1">Dover</td>
                <td rowspan="1" colspan="1">June 9, 2017</td>
              </tr>
              <tr>
                <td rowspan="1" colspan="1">Wasau</td>
                <td rowspan="1" colspan="1">June 27, 2017</td>
              </tr>
              <tr>
                <td rowspan="1" colspan="1">Portsmouth</td>
                <td rowspan="1" colspan="1">July 13, 2017</td>
              </tr>
              <tr>
                <td rowspan="1" colspan="1">Dover</td>
                <td rowspan="1" colspan="1">July 25, 2017</td>
              </tr>
              <tr>
                <td rowspan="1" colspan="1">Indiannapolis</td>
                <td rowspan="1" colspan="1">August 8, 2017</td>
              </tr>
              <tr>
                <td rowspan="1" colspan="1">Fairfield</td>
                <td rowspan="1" colspan="1">September 20, 2017</td>
              </tr>
              <tr>
                <td rowspan="1" colspan="1">Belfast</td>
                <td rowspan="1" colspan="1">October 3, 2017</td>
              </tr>
              <tr>
                <td rowspan="1" colspan="1">Boston</td>
                <td rowspan="1" colspan="1">November 16, 2017</td>
              </tr>
              <tr>
                <td rowspan="1" colspan="1">Portsmouth</td>
                <td rowspan="1" colspan="1">December 12, 2017</td>
              </tr>
            </tbody>
          </table>
      </div>
  	</div>
  </main>

  <div th:include="components/footer"></div>

  </body>
</html>
