<!DOCTYPE html>
<html lang="en">
<div th:include="components/header"></div>
<body role="document" style="min-height:100%;">
<div th:include="components/nav"></div>

<main role="main">

	<div class="row doc-main">
    	<div class="container" style="width:95%;">
        <table>
        			<tbody>
              <tr>
        				<th rowspan="1" colspan="1">Date</th>
        				<th rowspan="1" colspan="1">Topic</th>
        				<th rowspan="1" colspan="1">Description</th>
        				<th rowspan="1" colspan="1">Presenter</th>
        			</tr>
			<tr>
				<td rowspan="1" colspan="1">09/27/2016</td>
				<td rowspan="1" colspan="1"><a href="https://pivotal.webex.com/pivotal/ldr.php?RCID=5017d3e0ad811e58e85f8c790669b453" shape="rect">Ask
						Me Anything (AMA) Reactive Programming</a></td>
				<td rowspan="1" colspan="1">The reactive programming model involves a fundamental shift
					from imperative to non-blocking logic and understanding what that
					means on the most basic level is an essential and required first
					step. Prerequisites: Rossen's talk from SpringOne found <a href="https://www.infoq.com/presentations/springone-2016-technical-keynote-4" shape="rect">here</a>
				</td>
				<td rowspan="1" colspan="1">Rossen Stoyanchev</td>
			</tr>

			<tr>
				<td rowspan="1" colspan="1">10/5/2016</td>
				<td rowspan="1" colspan="1"><a href="https://pivotal.webex.com/pivotal/ldr.php?RCID=61e3d8a51dd5f0d5c4a9821ff051e922" shape="rect">Under
						the Hood with Containers and Cloud Foundry</a></td>
				<td rowspan="1" colspan="1">A deep dive exploring containers, their use cases and
					implementation, and how Cloud Foundry uses them; compare to k8s and
					other platforms</td>
				<td rowspan="1" colspan="1">John Feminella</td>
			</tr>
			<tr>
				<td rowspan="1" colspan="1">10/13/2016</td>
				<td rowspan="1" colspan="1"><a href="https://pivotal.webex.com/pivotal/ldr.php?RCID=4a5bc9c7a1936306871272536709bd08" shape="rect">Spring
						Batch, Spring Cloud Data Flow</a></td>
				<td rowspan="1" colspan="1">AMA session with Marius Bogoevici</td>
				<td rowspan="1" colspan="1">Marius Bogoevici</td>
			</tr>
			<tr>
				<td rowspan="1" colspan="1">10/20/2016</td>
				<td rowspan="1" colspan="1"><a href="https://pivotal.webex.com/pivotal/ldr.php?RCID=3f42a341133a1f966bdd95ff9f223047" shape="rect">Pivotal
						Cloud Foundry and Apigee</a></td>
				<td rowspan="1" colspan="1">A demo of PCF with Apigee Edge to provide route services.
					The route service intelligently routes API traffic to and from
					Edge, thereby leveraging Apigee's broad range of features related
					to traffic management, mediation, policy enforcement, and
					analytics.</td>
				<td rowspan="1" colspan="1">Kartik Lunkad</td>
			</tr>
			<tr>
				<td rowspan="1" colspan="1">10/27/2016</td>
				<td rowspan="1" colspan="1"><a href="https://pivotal.webex.com/pivotal/ldr.php?RCID=ae3e0b5b844e25d740204a52dca12591" shape="rect">Introduction
						to Spring Boot</a></td>
				<td rowspan="1" colspan="1">An overview of Spring Boot followed by a live-coding demo.
					This week, Kartik Lunkad (Platform Architect, Pivotal), will talk
					about Spring Boot. Kartik will be joined by Ritesh Shah, VP, IT
					Payeezy, First Data. Ritesh will share with us his experiences
					using Spring Boot at First Data.</td>
				<td rowspan="1" colspan="1">Kartik Lunkad, Utkarsh Nadkarni</td>
			</tr>

			<tr>
				<td rowspan="1" colspan="1">11/01/2016</td>
				<td rowspan="1" colspan="1"><a href="https://pivotal.webex.com/pivotal/ldr.php?RCID=1946ac707b135dff7a6570ece12edb46" shape="rect">Asynchronous
						Messaging with Spring</a></td>
				<td rowspan="1" colspan="1">This talk explores an approach to application integration
					using Spring. The talk will introduce the Java Message Service
					(JMS) and the Advanced Message Queuing Protocol (AMQP). We'll
					live-code an application that uses the RabbitMQ Message Broker to
					send and receive messages asynchronously using AMQP.</td>
				<td rowspan="1" colspan="1">Utkarsh Nadkarni</td>
			</tr>

			<tr>
				<td rowspan="1" colspan="1">11/18/2016</td>
				<td rowspan="1" colspan="1"><a href="https://pivotal.webex.com/pivotal/ldr.php?RCID=4ad172fa0c288b175046a5fa8c795798" shape="rect">Pivotal
						Cloud Foundry and Zipkin</a></td>
				<td rowspan="1" colspan="1">We’ll describe how to do distributed tracing with Spring
					Cloud Sleuth and Zipkin. Additionally, we'll show a demo of
					incorporating these technologies into an existing application.</td>
				<td rowspan="1" colspan="1">Reshmi Krishna</td>
			</tr>
			<tr>
				<td rowspan="1" colspan="1">11/29/2016</td>
				<td rowspan="1" colspan="1"><a href="https://www.youtube.com/watch?v=kyN2fo6e1O8" shape="rect">Troubleshooting App Health and Performance with PCF Metrics 1.2</a></td>
				<td rowspan="1" colspan="1">Join Allen Duet and Pieter Humphrey from Pivotal, to learn
					how PCF Metrics enhances the developer experience on Pivotal Cloud
					Foundry, with a simple and powerful way to troubleshoot app health
					and performance issues. You will see how, with a single, unified
					interface for events, logs, and metrics, app devs can easily
					navigate graphs to identify problems and then view logs for that
					time slice..</td>
				<td rowspan="1" colspan="1">Allen Duet and Pieter Humphrey</td>
			</tr>

			<tr>
				<td rowspan="1" colspan="1">12/02/2016</td>
				<td rowspan="1" colspan="1">Spring Cloud and Service Discovery</td>
				<td rowspan="1" colspan="1">An overview of Spring Cloud and a look at the Service
					Discovery with Netflix's Eureka. This will be followed by a
					live-coding demo</td>
				<td rowspan="1" colspan="1">Utkarsh Nadkarni</td>
			</tr>
			<tr>
				<td rowspan="1" colspan="1">12/09/2016</td>
				<td rowspan="1" colspan="1">Spring Cloud and Circuit Breakers</td>
				<td rowspan="1" colspan="1">An overview of Spring Cloud and a look at the Circuit
					Breakers with Netflix's Hystrix. This will be followed by a
					live-coding demo</td>
				<td rowspan="1" colspan="1">Utkarsh Nadkarni</td>
			</tr>
			<tr>
				<td rowspan="1" colspan="1">12/16/2016</td>
				<td rowspan="1" colspan="1">Service Brokers</td>
				<td rowspan="1" colspan="1">An overview of Service Brokers and a look at the First API
					Service Broker written by the Payeezy Team.</td>
				<td rowspan="1" colspan="1">Utkarsh Nadkarni</td>
			</tr>
			<tr>
				<td rowspan="1" colspan="1">01/12/2016</td>
				<td rowspan="1" colspan="1">Pivotal Cloud Foundry and Jenkins</td>
				<td rowspan="1" colspan="1">Use CI/CD with Jenkins to deploy applications to Pivotal
					Cloud Foundry</td>
				<td rowspan="1" colspan="1">Kartik Lunkad</td>
			</tr>
			<tr>
				<td rowspan="1" colspan="1">01/19/2017</td>
				<td rowspan="1" colspan="1">Security and SSO</td>
				<td rowspan="1" colspan="1">An overview of Security and Single-Sign-On at Pivotal Cloud
					Foundry.</td>
				<td rowspan="1" colspan="1">Utkarsh Nadkarni</td>
			</tr>
			<tr>
				<td rowspan="1" colspan="1">01/23/2017</td>
				<td rowspan="1" colspan="1">"Eventually Consistent" Database Design</td>
				<td rowspan="1" colspan="1">A look at designing architectures with eventually
					consistent backing stores</td>
				<td rowspan="1" colspan="1">Vinicius Carvalho</td>
			</tr>

			<tr>
				<td rowspan="1" colspan="1">01/27/2017</td>
				<td rowspan="1" colspan="1">Spring Cloud and the Config Server</td>
				<td rowspan="1" colspan="1">An overview of Spring Cloud and a look at the Config Server
					with a live-coding demo</td>
				<td rowspan="1" colspan="1">Kartik Lunkad</td>
			</tr>



		</tbody></table>
        			<tr>
        				<td rowspan="1" colspan="1">5/11/2017</td>
        				<td rowspan="1" colspan="1">PCF 1.10 Overview</td>
        				<td rowspan="1" colspan="1">During this session, we will walk through some of the new developer and operator focused features in PCF 1.10 such as Isolation Segments, Volume Services and Container to Container Networking. There will be live demos for some of those features as well.</td>
        				<td rowspan="1" colspan="1">Kartik Lunkad</td>
        			</tr>
        			<tr>
        				<td rowspan="1" colspan="1">5/18/2017</td>
        				<td rowspan="1" colspan="1">Microservices Architectures</td>
        				<td rowspan="1" colspan="1">To reap the flexibility and scalability benefits of microservices architectures, companies need to employ various key architectural patterns. But what are the unique challenges in a microservices architecture? And how does Spring and PCF make that journey easier?</td>
        				<td rowspan="1" colspan="1">Jonathan Fullam</td>
        			</tr>
        			<tr>
        				<td rowspan="1" colspan="1">5/25/2017</td>
        				<td rowspan="1" colspan="1">Continuous Upgrades with OCB (OpsManager, Concourse and Bosh)</td>
        				<td rowspan="1" colspan="1">Keeping distributed systems in a consistent, upgraded and patched manner is hard. During this session, we will take a deep dive on how we can do continuous upgrades of Pivotal Cloud Foundry with OCB (OpsManager, Concourse, Bosh)</td>
        				<td rowspan="1" colspan="1">Daxter Mateo</td>
        			</tr>
        			<tr>
        				<td rowspan="1" colspan="1">6/01/2017</td>
        				<td rowspan="1" colspan="1">CQRS</td>
        				<td rowspan="1" colspan="1">Maintaining data consistency across a set of microservices is one of the bigger hurdles in the microservices world. Enter command query responsibility segregation, or CQRS. We will talk about the challenges CQRS helps microservices developers overcome, provide advice for implementing CQRS, and discuss the complexities that CQRS itself introduces to microservices applications.</td>
        				<td rowspan="1" colspan="1">Kartik Lunkad</td>
        			</tr>
        			<tr>
        				<td rowspan="1" colspan="1">6/08/2017</td>
        				<td rowspan="1" colspan="1">Container to Container Networking</td>
        				<td rowspan="1" colspan="1">An overview of Container to Container Networking, use-cases and customer stories of using it</td>
        				<td rowspan="1" colspan="1">Tim Green</td>
        			</tr>
        			<tr>
        				<td rowspan="1" colspan="1">6/15/2017</td>
        				<td rowspan="1" colspan="1">Test Driven Development</td>
        				<td rowspan="1" colspan="1">A walkthrough of the best practices to do TDD as well as real world stories of using TDD</td>
        				<td rowspan="1" colspan="1">Geoffrey Giesemann</td>
        			</tr>

        			<tr>
        				<td rowspan="1" colspan="1">6/22/2017</td>
        				<td rowspan="1" colspan="1">Isolation Segments</td>
        				<td rowspan="1" colspan="1">Isolation Segment provides a group of Cloud Foundry resources (compute, network, logging) to which applications can be directed for deployment. An Isolation Segment (IS) may optionally be dedicated to the sole use of a particular organization or even to that of specific users within the organization.</td>
        				<td rowspan="1" colspan="1">Kartik Lunkad</td>
        			</tr>
        			<tr>
        				<td rowspan="1" colspan="1">6/29/2017</td>
        				<td rowspan="1" colspan="1">Consumer Driven Contracts</td>
        				<td rowspan="1" colspan="1">Consumer driven contracts as a topic isn't new, but is an important part of a mature microservice testing portfolio, enabling independent service deployments</td>
        				<td rowspan="1" colspan="1">Reshmi Krishna</td>
        			</tr>
        			<tr>
        				<td rowspan="1" colspan="1">7/06/2017</td>
        				<td rowspan="1" colspan="1">Cloud Native Security</td>
        				<td rowspan="1" colspan="1">During this session, we will take a deep dive into the world of JWT, OAuth2 and the SSO tile</td>
        				<td rowspan="1" colspan="1">Jaime Aguilar</td>
        			</tr>
        		</tbody></table>
      </div>
  	</div>
  </main>

  <div th:include="components/footer"></div>

  </body>
</html>
